@model List<Domain.Models.Order>;

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>(҂ಠ_ಠ)</title>
</head>
<body>
<button id="bukvamy">Fetch</button>
<script >
 const data = document.getElementById("data");
        function f() { fetch("api/v1").then(x => x.json()).then(d => data.innerHTML = JSON.stringify(d)) }
        document.getElementById("bukvamy").onclick = f
                function f1() { fetch("api/v1",{
                                                  method: 'GET',
                                                  // body: JSON.stringify(data),
                                                  headers: {'content-type': 'application/json'},
                                                }).then(x => x.json()).then(d => data.innerHTML = JSON.stringify(d)) }
</script>
</body>
</html>